<div class="item">
    <div>IMAGE URL</div>
        <div>
            <input 
            type="url"
            name="avatar_url" 
            placeholder="http://..."
            value="{{ client.avatar_url}}"
                >
        </div>
    </div>

    <div class="item">
        <div>Nome</div>
        <div>
            <input 
                type="text" 
                name="name" 
                value="{{ client.name }}"
            >

        </div>
    </div>

    <div class="item">
        <div>Email</div>
        <div>
            <input 
                type="email" 
                name="email" 
                value="{{ client.email }}"
            >
        </div>
    </div>

    <div class="item">
        <div>Data de Nascimento</div>
        <input 
        type="date" 
        name="birth"
        value="{{ client.birth }}"
        >
    </div>

    <div class="item">
        <div>Sexo</div>
        <div>
            <span>
                <input 
                type="radio" 
                name="gender" 
                value="M"
                {% if client.gender == 'M'%}
                checked
                {% endif %}> Masculino
        </span> 
        <span>
            <input 
                type="radio" 
                name="gender" 
                value="F"
                {% if client.gender == 'F'%}
                checked
                {% endif %}> Feminino
        </span> 

        </div>
    </div>



    <button type="submit">Salvar</button>